harness_platform_secrets_text = {
  Cristian_GitLab_Token   = "#"
  Cristian_Github_Token   = "#"
  Cristian_Docker_Token   = "#"
  Cristian_AWS_Access_Key = "#"
  Cristian_AWS_Secret_Key = "#"
}
harness_platform_secrets_file = {
  /* Cristian_GOOGLE_BACKEND_CREDENTIALS = "../sales.json" */
}
