service:
  name: ${name}
  identifier: ${identifier}
  description: ${description}
  tags: {}
  serviceDefinition:
    spec:
      %{ if length(variables) > 0 }
      variables:
        ${indent(8, yamlencode(variables))}
      %{ endif }
      %{ if length(manifests) > 0 }
      manifests:
      %{ for manifest in manifests }
        - ${indent(9, manifest)}
      %{ endfor }
      %{ endif }
    type: NativeHelm
