service:
  name: ${name}
  identifier: ${identifier}
  description: ${description}
  tags: {}
  serviceDefinition:
    spec:
      %{ if length(variables) > 0 }
      variables:
        ${indent(8, yamlencode(variables))}
      %{ endif }
      customDeploymentRef:
        templateRef: ${template-deployment.template_id}
        versionLabel: "${template-deployment.template_version}"
    type: CustomDeployment
